.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 15px 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  transition: color 0.2s, background 0.2s;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    color: #ffffff;
    background-color: $primary;

    &:focus,
    &:hover {
      background-color: darken($primary, 3%);
    }

    &:active {
      background-color: darken($primary, 3%);
      color: rgba(#fff, 0.3);
    }
  }

  &--secondary {
    color: #444444;
    background-color: $secondary;

    &:focus,
    &:hover {
      background-color: darken($secondary, 3%);
    }

    &:active {
      background-color: darken($secondary, 3%);
      color: rgba(#444444, 0.3);
    }
  }
}
@media (min-width: $tablet-width) {
  .button {
    line-height: 20px;
    padding: 16px 29px 16px 26px;
  }
}
