.catalog {
  &--extra {
    padding-left: 20px;
    padding-right: 20px;

    .catalog__heading {
      margin-right: -20px;
    }

    .catalog__list {
      margin-bottom: 40px;
    }
  }
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  @include border;

  &--main {
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;

    .catalog__description {
      width: 50%;
    }

    .catalog__title {
      margin-top: 0;
    }
  }

  &--extra {
    padding-top: 14px;
    padding-bottom: 17px;

    &:first-child {
      border-top: 1px solid #d9d9d9;
    }

    .catalog__description {
      width: 100%;
    }

    .catalog__title {
      margin-bottom: 10px;
    }

    .catalog__order {
      margin-top: 13px;
    }
  }
}

.catalog__img-wrapper {
  width: 50%;
  margin: -25px 0 0;
}

.catalog__title {
  margin-top: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.catalog__parameters {
  width: 100%;
  font-family: $font-text;
  font-size: 12px;
  line-height: 16px;
}

.catalog__value {
  text-align: right;
}

.catalog__order {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
}

.catalog__promo {
  position: relative;
  height: 289px;
  width: 100%;
  padding-top: 190px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-family: $font-text;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: $primary;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    height: 60px;
    width: 55px;
    margin-left: -27px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.catalog__promo-text {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}