.catalog {
  &--extra {
    padding-left: 20px;
    padding-right: 20px;

    .catalog__heading {
      margin-right: -20px;
      margin-left: -20px;
    }

    .catalog__list {
      margin-bottom: 39px;
    }
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  @include list-reset;
}

.catalog__item {
  width: 100%;
  margin-bottom: 0;
}

.catalog__promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 289px;
  width: 100%;
  padding-top: 65px;
  padding-bottom: 42px;
  box-sizing: border-box;
  font-family: $font-text;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #62a639;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: "";
    display: inline-block;
    top: 65px;
    left: 50%;
    height: 60px;
    width: 55px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.catalog__promo-text {
  margin: 0;
  width: 180px;
  text-align: center;
}

@media (min-width: 500px) {
  .catalog__promo {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: cover;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    @include tablet-container;

    &--main {
      margin-bottom: 67px;

      .catalog__list {
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: -58px;
      }

      .catalog__item {
        width: 50%;
        margin-bottom: 58px;
      }
    }

    &--extra {
      padding-left: 0;
      padding-right: 0;

      .catalog__list {
        margin-bottom: 69px;
      }
    }
  }

  .catalog__item {
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .catalog__promo {
    height: 200px;
    flex-direction: row;
    padding: 21px 12.7% 20px;
    background-size: cover;

    &::before {
      margin-top: -12px;
    }
  }

  .catalog__promo-text {
    box-sizing: border-box;
    width: 37%;
    text-align: left;
  }
}

@media (min-width: 960px) {
  .catalog {
    &--main {
      .catalog__item {
        width: 33.33%;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    @include desktop-container;

    &--main {
      margin-bottom: 76px;

      .catalog__list {
        margin-left: -40px;
        margin-right: -40px;
        margin-bottom: -60px;
      }

      .catalog__item {
        width: 25%;
        margin-bottom: 60px;
      }
    }

    &--extra {
      display: flex;
      justify-content: space-between;

      .catalog__list {
        width: 73.4%;
        margin-bottom: 0;
        align-content: flex-start;
      }
    }
  }

  .catalog__promo {
    justify-content: space-around;
    width: 20.1%;
    height: auto;
    min-height: 216px;
    padding-top: 36px;
    padding-bottom: 12px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
