.checkbox,
.radio {
  display: flex;
  align-items: center;
  position: relative;
  transition: opacity .2s;

  &:hover {
    cursor: pointer;

    .radio__indicator,
    .checkbox__indicator {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: .3;
  }

  &.disabled {
    cursor: default;
    opacity: .3;
  }

}

.radio__indicator,
.checkbox__indicator {
  position: relative;
  margin-right: 15px;
  height: 30px;
  width: 30px;
  border: 1px solid #cdcdcd;
  transition: border-color .2s;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity .2s;
  }
}

.radio__indicator {
  border-radius: 50%;

  &::before {
    margin-top: -6px;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $primary;

  }
}

.checkbox__indicator {
  &::before {
    width: 21px;
    height: 15px;
    margin-left: -10px;
    margin-top: -7px;
    background-image: url('../img/icon-tick.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
  &::before {
    opacity: 1;
  }
}





