.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 27px 20px;

  p {
    margin: 0;
  }
}

.contacts__invitation {
  box-sizing: border-box;
  display: block;
  width: 50%;
  padding-right: 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-family: $font-text;
  line-height: 20px;
}

.contacts__map {
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {

    background: #fff;
  }

  .contacts__info {
    @include tablet-container;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 67px;
    padding-bottom: 60px;
    margin: auto;
  }

  .contacts__invitation {
    font-size: 20px;
    line-height: 25px;
    padding-left: 40px;
    width: 220px;
  }

  .contacts__address {
    align-items: flex-end;
    width: 190px;
    padding-right: 40px;
    text-align: right;
  }

  .contacts__map {
    height: 396px;
    iframe {
      height: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__info {
    width: 570px;
    max-width: 710px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    // width: 570px;
    // width: calc(#{$desktop-content-width} / 2 - #{$desktop-padding});
    min-height: 200px;
    top: 50%;
    right: 50%;
    margin-right: 40px;
    transform: translateY(-50%);
    padding: 60px 75px;
    background: #fff;
  }

  .contacts__invitation {
    padding-left: 0;
  }

  .contacts__address {
    width: 40%;
    align-items: flex-start;
    text-align: left;
    align-self: stretch;
    padding-right: 0;
  }

  .contacts__map {
    height: 400px;
  }
}
