.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 29px 20px 26px;

  p {
    margin: 0;
  }
}

.contacts__invitation {
  box-sizing: border-box;
  display: block;
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  font-family: $font-text;
  line-height: 20px;
}

.contacts__street {
  max-width: 100%;
}

.contacts__map {
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

@media (min-width: 500px) {
  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts__info {
    box-sizing: border-box;
    align-items: center;
    @include tablet-container;
    min-height: 201px;
    padding: 46px 40px 40px;
    margin: auto;
  }

  @media all and (-ms-high-contrast: none) {
    .contacts__info {
      padding-top: 60px;
    }
    /* IE10 */
    *::-ms-backdrop,
    .contacts__info {
      padding-top: 60px;
    }
    /* IE11 */
  }

  .contacts__invitation {
    font-size: 20px;
    line-height: 25px;
    width: 220px;
  }

  .contacts__address {
    width: 190px;
    // padding-right: 40px;
    text-align: right;
  }

  .contacts__city {
    margin-top: 20px;
    align-self: flex-end;
  }

  .contacts__map {
    height: 396px;

    iframe {
      height: 100%;
    }
  }
}

@media (min-width: 950px) {
  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    background: #ffffff;
  }

  .contacts__info {
    width: 570px;
    max-width: 710px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: 40px;
    transform: translateY(-50%);
    padding: 60px 75px;
    background: #fff;
  }

  .contacts__invitation {
    padding-left: 0;
  }

  .contacts__address {
    width: 40%;
    align-items: flex-start;
    text-align: left;
    align-self: stretch;
    padding-right: 0;
  }

  .contacts__city {
    align-self: flex-start;
  }

  .contacts__map {
    height: 400px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
