.copyright {
  // display: flex;
  // justify-content: center;
  padding-top: 19px;
  padding-bottom: 0;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $text-color;
}

.copyright__link {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: none;

  &:hover,
  &:focus {
    .copyright__icon {
      fill: $primary;
    }

  }

  // &:active {
  //   .copyright__icon {
  //
  //   }
  //   fill: $primary;
  //   opacity: 0.3;
  // }

}

.copyright__icon {
  transition: fill 0.2s;
  position: relative;
  right: -6px;
  fill: #666666;
}

@media (min-width: 400px) {
  .copyright__link {
    max-width: 160px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    text-align: right;
    padding: 0;
  }

  .copyright__link {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-end;
  }

  .copyright__icon {
    margin-left: 10px;
  }

}
