.copyright {
  padding-bottom: 0;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    text-align: right;
  }

}
