.example {
  background-color: $secondary;
  padding-top: 17px;
  padding-bottom: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__heading {
  margin-top: 0;
  margin-bottom: 23px;
}

.example__stats {}

.example__total {
  margin-top: 34px;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: $font-text;
  letter-spacing: 0.1px;
}

.example__stats {
  margin-bottom: 35px;
}

.example__comparison {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0;
    background: #fff;
    // background: linear-gradient(to top, $secondary 460px, transparent 460px, transparent 100%);
  }

  .example__heading {
    @include tablet-container;
    margin-bottom: 64px;
  }


  .example__info {
    @include tablet-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  .example__text {
    flex-grow: 1;
    margin-bottom: 53px;
  }

  .example__stats {
    width: 51.5%;
    margin-bottom: 0;
  }

  .example__total {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .example__price {
    display: block;
    margin-top: 9px;
  }

  .example__demo {
    margin-top: 85px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-bottom: 0;
  }

  .example__heading {
    @include desktop-container;
    margin-bottom: 75px;
  }

  .example__wrapper {
    @include desktop-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .example__content {
    background: linear-gradient(to right, #f2f2f2, #f2f2f2 80%, #eaeaea 80%, #eaeaea);
  }




  .example__stats {
    width: 100%;
    margin-bottom: 62px;
  }

  .example__info {
    flex-direction: column;
    justify-content: flex-start;
    width: 36.4%;
    padding-top: 71px;
    margin: 0;
    padding-bottom: 75px;
    // background-color: $secondary;
  }

  .example__text {
    flex-grow: 0;
    margin-bottom: 68px;
  }

  .example__total {
    margin-top: auto;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .example__demo {
    width: calc(650/1220 * 100%);
  }

  .example__price {
    display: inline;
    margin-top: 0;
    margin-left: 65px;
  }

  .example__comparison {
    margin-top: -190px;
    margin-right: -60px;
  }
}
