.features {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;

  .h2 {
    margin-top: 0;
    // margin-bottom: 25px;
  }
}

.features__list {
  @include list-reset;
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;

  font-family: $font-text;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: $primary;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--benefit::before {
    background-image: url('../img/advantage-leaf@1x.png');
  }

  &--cooking::before {
    background-image: url('../img/advantage-powder@1x.png');
  }

  &--meal::before {
    background-image: url('../img/advantage-dining@1x.png');
  }

  &--changes::before {
    background-image: url('../img/advantage-clock@1x.png');
  }
}
