.features {
  margin-bottom: 43px;
}

.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.features__heading {
  margin-top: 0;
  margin-bottom: 28px;
}

.features__list {
  @include list-reset;
}

.features__item {
  min-height: 60px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  font-family: $font-text;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--benefit::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--cooking::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--meal::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--changes::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--benefit::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--cooking::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--meal::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--changes::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}
@media (min-width: $tablet-width) {
  .features {
    @include border;
    margin-bottom: 43px;
    padding-bottom: 57px;
  }

  .features__heading {
    margin-bottom: 71px;
  }

  .features__wrapper {
    @include tablet-container;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin-right: -60px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -90px;
  }

  .features__item {
    flex-grow: 1;
    box-sizing: border-box;
    // width: 324px;
    width: 50%;
    min-height: 228px;
    // margin-right: 60px;
    // padding-left: 0;
    padding-left: 30px;
    margin-bottom: 90px;
    padding-top: 112px;
    padding-right: 13%;

    &::before {
      left: 30px;
      width: 80px;
      height: 80px;
    }

    &::after {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 50%;
      right: 45px;
      top: -11px;
      font-family: $font;
      font-size: 281px;
      line-height: 228px;
      color: #f2f2f2;
    }

    &--benefit::after {
      content: "1";
    }

    &--cooking::after {
      content: "2";
    }

    &--meal::after {
      content: "3";
    }

    &--changes::after {
      content: "4";
    }
  }
}
@media (min-width: $desktop-width) {
  .features {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 82px;
  }

  .features__heading {
    margin-bottom: 72px;
  }

  .features__wrapper {
    @include desktop-container;
  }

  .features__list {
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -30px;
  }

  .features__item {
    // width: 245px;
    width: 25%;
    // margin-right: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 112px;
    margin-bottom: 30px;

    &::before {
      left: 40px;
    }

    &::after {
      top: -14px;
      right: 10px;
    }

    &:first-child {
      &::after {
        right: 4px;
      }
    }
  }
}
