.form__fieldset {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  &--bb {
    @include border;
    padding-bottom: 23px;
  }
}

.form__legend {
  margin-bottom: 25px;
  padding-top: 10px;
  padding-left: 20px;
}

.form__filter-wrapper {
  @include list-reset;
  padding-left: 20px;
  padding-right: 20px;
}

.form__group {
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 10px;
  // white-space: nowrap;
}


.input-text {
  // flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;

  border: 1px solid rgba(#cdcdcd, 0.5%);

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
    box-shadow: none;
  }

  &:active,
  &:focus {
    border-color: #444444;
    outline: none;
    box-shadow: 0px 0px 0px 1px #444444;
  }

  // &:invalid {
  //   border-color: #ff8282;
  //   box-shadow: 0px 0px 0px 1px #ff8282;
  // }

  &--icon {
    padding-right: 40px;
    background-repeat: no-repeat;
  }

  &--email {
    background-image: url('../img/icon-mail.svg');
    background-size: 17px 13px;
    background-position: center right 15px;
  }

  &--tel {
    background-image: url('../img/icon-phone.svg');
    background-size: 20px 20px;
    background-position: center right 12px;
  }
}


.form__submit-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.form__submit {
  width: 100%;
}

.form__prompt {
  margin-top: 20px;
  font-family: $font-text;
  text-align: center;
}
