.form__fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  &--bb {
    @include border;
    padding-bottom: 21px;
  }
}

.form__legend {
  margin-bottom: 25px;
  padding-top: 10px;
  padding-left: 20px;
}

.form__filter-wrapper {
  @include list-reset;
  padding-left: 20px;
  padding-right: 20px;
}

.form__group {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--text {
    .form__label {
      margin-right: 14px;
      // white-space: nowrap;
    }
  }

  &--indicator {
    margin-bottom: 13px;
  }
}

.form__input {
  // flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 9px 13px 10px;
  text-transform: uppercase;
  border: 1px solid rgba(#cdcdcd, 0.5%);

  &::placeholder {
    color: #444444;
  }

  &--textarea {
    padding-top: 10px;
  }

  &--icon {
    padding-right: 40px;
    background-repeat: no-repeat;
  }

  & + .form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: #222222;
    transition: fill 0.2s;

    &--mail {
      right: 15px;
    }

    &--phone {
      right: 13px;
    }
  }

  &:hover {
    border-color: #cdcdcd;
    box-shadow: none;
  }

  &:active,
  &:focus {
    border-color: #444444;
    outline: none;
    box-shadow: 0 0 0 1px #444444;

    & + .form__icon {
      fill: $primary;
    }
  }

  &--invalid {
    border-color: #ff8282;
    box-shadow: 0 0 0 1px #ff8282;

    & + .form__icon {
      fill: #ff8282;
    }
  }
}

.form__submit {
  font-size: 16px;
  width: 100%;
}

.form__prompt {
  margin-top: 20px;
  font-family: $font-text;
  text-align: center;
}
// checkbox & radio

.form__checkbox,
.form__radio {
  display: flex;
  align-items: center;
  position: relative;
  transition: opacity 0.2s;

  &:hover {
    cursor: pointer;

    .form__indicator {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &.disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.form__indicator {
  box-sizing: border-box;
  position: relative;
  margin-right: 15px;
  height: 30px;
  width: 30px;
  border: 1px solid #cdcdcd;
  transition: border-color 0.2s;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &--radio {
    border-radius: 50%;

    &::before {
      margin-top: -6px;
      margin-left: -6px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $primary;
    }
  }

  &--checkbox {
    &::before {
      width: 21px;
      height: 15px;
      margin-left: -10px;
      margin-top: -7px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

input[type="radio"]:checked + .form__indicator,
input[type="checkbox"]:checked + .form__indicator {
  &::before {
    opacity: 1;
  }
}

.form__main {
  // margin-bottom: 27px;
}

.form__footer {
  margin-top: 31px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__submit-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: $tablet-width) {
  .form__main {
    margin-bottom: 74px;

    .form__fieldset:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__fieldset--bb {
    border-bottom: none;
    padding-bottom: 0;
  }

  .form__fieldset {
    @include tablet-container;
    // width: $tablet-content-width;
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: 71px;
    font-size: 20px;
    line-height: 20px;

    &--extra {
      margin-bottom: 0;
    }

    &--owner {
      margin-bottom: 66px;
    }
  }

  .form__filter-wrapper {
    padding-left: 40px;
    padding-right: 37px;

    &--frame {
      margin-left: 40px;
      margin-right: 37px;
      padding: 25px 28px;
      border: 1px solid $gray;
    }

    &--columns {
      display: flex;
      flex-wrap: wrap;
      // padding-right: 0;
      margin-left: -$tablet-padding;
      margin-right: -$tablet-padding;

      .form__group {
        box-sizing: border-box;
        width: 50%;
        margin-bottom: 30px;
        padding-left: $tablet-padding;
        padding-right: $tablet-padding;
      }
    }
  }

  .form__group {
    margin-bottom: 20px;

    &--text {
      .form__label {
        margin-right: 15px;
      }
    }

    &--indicator {
      margin-bottom: 13px;
    }

    sup {
      font-size: 20px;
    }
  }

  .form__input {
    padding: 10px 20px;

    &--textarea {
      padding: 14px 18px 17px;
    }

    &--icon {
      padding-right: 45px;
    }

    & + .form__icon {
      &--mail {
        right: 19px;
      }

      &--phone {
        right: 16px;
      }
    }
  }
  // .form__label {
  //   sup {
  //     top: -0.3em;
  //     padding-right: 2px;
  //   }
  // }
  .form__indicator {
    margin-right: 20px;
    height: 40px;
    width: 40px;

    &--radio {
      &::before {
        height: 18px;
        width: 18px;
        margin-left: -9px;
        margin-top: -9px;
      }
    }
  }

  .form__heading {
    &.custom-margin {
      margin-top: -8px;
      margin-bottom: 58px;
    }
  }

  .form__footer {
    @include tablet-container;
    margin-top: 26px;
  }

  .form__footer-content {
    display: flex;
    margin-left: -$tablet-padding;
    margin-right: -$tablet-padding;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__prompt,
  .form__submit-wrapper {
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  .form__submit {
    font-size: 20px;
  }

  .form__prompt {
    display: flex;
    align-items: center;
    text-align: left;

    sup {
      padding-right: 5px;
    }
  }
}
@media (min-width: $desktop-width) {
  .form__fieldset,
  .form__footer {
    @include desktop-container;
  }

  .form__fieldset {
    margin-bottom: 70px;

    &--owner {
      margin-bottom: 67px;
    }

    &--comment {
      margin-bottom: 76px;
    }

    &--extra {
      margin-bottom: 0;
    }
  }

  .form__filter-wrapper {
    padding-left: 0;
    padding-right: 0;

    &--frame {
      padding-left: 28px;
      padding-right: 28px;
      padding-bottom: 23px;
      margin: 0;
    }

    &--owner {
      display: flex;
      margin-left: -$desktop-padding;
      margin-right: -$desktop-padding;

      .form__group {
        width: 50%;
        padding-left: $desktop-padding;
        padding-right: $desktop-padding;
        margin-bottom: 0;
      }
    }

    &--columns {
      margin-left: -$desktop-padding;
      margin-right: -$desktop-padding;

      .form__group {
        width: 25%;
        padding-left: $desktop-padding;
        padding-right: $desktop-padding;
      }
    }
  }

  .form__main {
    @include desktop-container;
    margin: 0 auto;

    .form__fieldset {
      box-sizing: border-box;
      width: 50%;
      margin-left: 0;
      margin-right: 0;
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
    }
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$desktop-padding;
    margin-right: -$desktop-padding;
  }

  .form__footer {
    margin-top: 30px;
  }

  .form__footer-content {
    margin-left: -$desktop-padding;
    margin-right: -$desktop-padding;
    padding-left: 0;
    padding-right: 0;
  }

  .form__prompt,
  .form__submit-wrapper {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }

  .form__group {
    &--text {
      .form__label {
        margin-right: 20px;
      }
    }
  }

  .form__input {
    padding-left: 18px;
    padding-right: 18px;

    & + .form__icon {
      &--mail {
        right: 60px;
      }

      &--phone {
        right: 59px;
      }
    }
  }
}