.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -67px;
  right: 0;
  height: 66px;
  width: 66px;
  background-color: #fff;
  border: none;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: #0f0f0f;
    transform: rotate(45deg);
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -2px;
  }

  &::after {
    transform: rotate(135deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    // width: 516px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
}

@media (min-width: $desktop-width) {
  .main-nav {
  }
}
