.main-product {
  display: flex;
  // margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  @include border;

  &:first-child {
    border-top: 1px solid #d9d9d9;
  }
}

.main-product__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.main-product__img {
  display: flex;
  height: 144px;
  width: 50%;
  align-items: flex-end;
  justify-content: center;
  // margin: -25px 0 0;
  img {
    max-height: 100%;
  }
}

.main-product__title {
  margin-top: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.main-product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-top: 12px;
  padding-bottom: 10px;
}

.main-product__parameters {
  width: 100%;
  font-family: $font-text;
  font-size: 12px;
  line-height: 16px;
}

.main-product__value {
  text-align: right;

  &--price {
    text-transform: uppercase;
  }
}

.main-product__order {
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: $tablet-width) {
  .main-product {
    // padding-top: 85px;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
    padding-bottom: 0;
    border-bottom: none;

    &:first-child {
      border-top: none;
    }
  }

  .main-product__content {
    position: relative;
    padding-top: 235px;
    // background: linear-gradient(to top, $secondary, $secondary 85%, transparent 85%, transparent);
    background: linear-gradient(to bottom, transparent, transparent 83px, $secondary 83px, $secondary);
    // background-color: $secondary;
    padding-bottom: 40px;
    overflow: visible;
  }

  .main-product__description {
    width: 100%;
    margin-bottom: 32px;
    padding: 10px 38px 0;
  }

  .main-product__img {
    position: absolute;
    top: 0;
    height: 208px;
    width: 100%;
  }

  .main-product__parameters {
    font-size: 16px;
    line-height: 16px;
    border-collapse: collapse;

    td {
      padding-top: 7px;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray-darker;
    }
  }

  .main-product__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    br {
      display: none;
    }
  }

  .main-product__weight {
    display: block;
  }

  .main-product__order {
    margin-top: auto;
    margin-left: 38px;
    margin-right: 38px;
    padding-top: 11px;
    padding-bottom: 9px;
  }
}
@media (min-width: $desktop-width) {
  .main-product {
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-product__description {
    margin-bottom: 34px;
  }

  .main-product__parameters {
    td {
      padding-bottom: 7px;
    }
  }
}
