.main-product {
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  @include border;
}

.main-product__content {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.main-product__img-wrapper {
  width: 50%;
  margin: -25px 0 0;
}

.main-product__title {
  margin-top: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.main-product__description {
  width: 50%;
}

.main-product__parameters {
  width: 100%;
  font-family: $font-text;
  font-size: 12px;
  line-height: 16px;
}

.main-product__value {
  text-align: right;
  text-transform: uppercase;
}

.main-product__order {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
}


@media (min-width: $tablet-width) {
  .main-product {
    padding-right: 30px;
    padding-left: 30px;
    border-bottom: none;
  }

  .main-product__content {
    background-color: $secondary;
    padding: 38px 40px;
  }

  .main-product__description {
    width: 100%;
  }

  .main-product__img-wrapper {
    width: 100%;
    text-align: center;
  }

  .main-product__parameters {
    font-size: 16px;
    line-height: 16px;
    border-collapse: collapse;

    td {
      padding-top: 7px;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-darker;
    }
  }

  .main-product__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    br {
      display: none;
    }
  }

  .main-product__weight {
    display: block;
  }

  .main-product__order {
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-product {
    padding-left: 40px;
    padding-right: 40px;
  }
}
