.page-header {
  font-family: $font;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.page-header__logo {
  display: block;
  @include border;
  padding: 11px 66px 16px 20px;
  transition: opacity .2s;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 60px;
    padding-top: 24px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  .page-header__logo {
    display: flex;
    align-items: center;
    width: 192px;
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;
    padding-top: 54px;

    &--index {
      z-index: 2;
      position: absolute;
      top: 0;
    }
  }

  .page-header__wrapper {
    width: $desktop-content-width;
  }

  .page-header__logo {
    width: 245px;
  }
}
