.page-footer {
  background-color: $secondary;
  margin-top: 35px;
}

.page-footer__footer {
  padding: 20px;
  padding-top: 10px;
}

.page-footer__logo {
  display: block;
  text-align: center;
}

.page-footer__item {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  &:not(:last-child) {
    @include border;
  }
}


.index-page .page-footer {
  margin-top: 0;
}
