.show-more {
  margin-top: 25px;
  margin-bottom: 27px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  @include border;

  br {
    display: none;
  }
}

.show-more__extend {
  position: relative;
  display: block;
  // width: 100%;
  padding-top: 55px;
  font-size: 16px;
  line-height: 20px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    width: 30px;
    height: 2px;
    left: 50%;
    margin-left: -15px;
    background-color: #e6e6e6;
    // opacity: 0.2;
  }

  &::after {
    transform: rotate(90deg);
    margin-left: -14px;
  }
}

.show-more__sub-text {
  display: block;
  // width: 100%;
  margin-top: 7px;
  margin-bottom: 21px;
  font-family: $font-text;
  font-size: 12px;
  line-height: 16px;
}

.show-more__show-all {
  width: 100%;
}
@media (min-width: $tablet-width) {
  .show-more {
    padding-top: 83px;
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    min-height: 431px;
    border-bottom: none;

    br {
      display: inline;
    }
  }

  .show-more__content {
    min-height: 430px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 53px 38px 38px;
    border: 1px solid $gray-medium;
  }

  .show-more__extend {
    padding-top: 110px;
    font-size: 20px;
    line-height: 20px;

    &::after,
    &::before {
      width: 60px;
      top: 29px;
      margin-left: -30px;
    }
  }

  .show-more__sub-text {
    margin-top: 26px;
    font-size: 16px;
    line-height: 18px;
  }

  .show-more__show-all {
    margin-top: auto;
    padding-top: 11px;
    padding-bottom: 9px;
  }
}
@media (min-width: $desktop-width) {
  .show-more {
    padding-left: 40px;
    padding-right: 40px;
  }
}