.stats {
  display: flex;
  justify-content: space-between;
  @include list-reset;
}

.stats__value {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats__item {
  box-sizing: border-box;
  position: relative;
  min-width: 124px;
  padding: 15px;
  text-align: center;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}

.stats__field {
  position: absolute;
  // left: 18px;
  // right: 18px;

  bottom: -16px;
  margin-top: 0;
  margin-bottom: 0;
  // padding-left: 10px;
  // padding-right: 10px;
  // background-color: $secondary;
  font-family: $font-text;
  font-size: 12px;
  line-height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  padding-left: 18px;
  padding-right: 18px;
}

.stats__field-text {
  background-color: $secondary;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: $tablet-width) {
  .stats {
  }

  .stats__item {
    width: 162px;
    padding: 16px;
  }

  .stats__value {
    font-size: 30px;
    line-height: 37px;
  }

  .stats__field {
    height: 32px;
    bottom: -16px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .stats__field-text {
    background-color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    justify-content: flex-start;
  }

  .stats__item {
    margin-right: 42px;
  }

  .stats__field-text {
    background-color: $secondary;
  }
}
