$font: 'Oswald', sans-serif;

$font-text: 'Arial', sans-serif;

$green: #68b738;
$green-darker: #5eaa2f;
$gray: #f2f2f2;
$gray-darker: #cdcdcd;
$gray-medium: #e7e7e7;

$primary: $green;
$secondary: $gray;

$text-color: #111111;


$tablet-width: 768px;
$desktop-width: 1300px;

$tablet-content-width: 708px;
$desktop-content-width: 1220px;

$tablet-padding: 30px;
$desktop-padding: 40px;
